<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: lavender;">
<div th:replace="template :: header_menu"></div>
<div style="width: 988px; margin: auto;">
    <div style="overflow: hidden;border: 2px inset white;
    background: #f8f8f8;border-radius: 62px;">
        <div class="task-content" th:each="userForm : ${userFormSet}">
            <div class="product-box col-xs-6 col-md-4" style="text-align: center; width: fit-content;background: #d6d6d6;
    border-radius: 16%;border: 6px inset white;
    background: #d5d5d5;">
                <img th:src="${userForm.form.image}" th:width="450px"style="border-radius: 50%; height: 450px">
                <div class="caption" style="text-align: center">
                    <div class="capt_name"><h2 th:text="${'Команда: ' + userForm.player.club.name}"></h2></div>
                </div>
                <div class="caption" style="text-align: center">
                    <div class="capt_name"><h2 th:text="${'Игрок: ' + userForm.player.fio}"></h2></div>
                </div>
                <div th:if="${userForm.form.main}" class="caption" style="text-align: center">
                    <div class="capt_name"><h2>Тип: Основная</h2></div>
                </div>
                <div th:if="${!userForm.form.main}"class="caption" style="text-align: center">
                    <div class="capt_name"><h2>Тип: Запасная</h2></div>
                </div>
                <div class="caption" style="text-align: center">
                    <div class="capt_name"><h2 th:text="${'Адрес: '+userForm.address}"></h2></div>
                </div>
                <div class="caption" style="text-align: center">
                    <div class="capt_name"><h2 th:text="${'Дата: ' + userForm.date}"></h2></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>